*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#header{
    height: 4.5rem;
    border-bottom: 2px solid rgb(186, 186, 192);
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0);
}

nav{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    font-size: 2rem;
    color: white;
}

#logo span{
    color: yellowgreen;
}

nav .menu ul{
    display: flex;
    gap: 2rem;
}

nav .menu ul li a.title-menu{
    font-size:  1.3rem;
    color: white;
}

ul {
    list-style: none;
}

.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main{
    margin-top: 4.5rem;
}