*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#header{
    height: 4.5rem;
    border-bottom: 2px solid rgb(186, 186, 192);
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0);
}

nav{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    font-size: 2rem;
    color: white;
}

#logo span{
    color: yellowgreen;
}

nav .menu ul{
    display: flex;
    gap: 2rem;
}

nav .menu ul li a.title-menu{
    font-size:  1.3rem;
    color: white;
}

ul {
    list-style: none;
}

.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main{
    display: flex;
    align-items: center;
}

.main div.container{
    margin-top: 4.5rem;
    display: flex;
    width: 100%;
    align-items: center;
}
section.main img{
    margin: 3rem 4rem;
    max-width:40rem;
    max-height:20rem;
    width: auto;
    height: auto;
}

section.main .text{
    font-family: sans-serif;
    font-size: 1.2rem;
    
}
section.main .text h1{
    margin: 1rem 1rem;
    font-size: 1.8rem;
    text-align: center;
}

section a.button{
    border-radius: 10%;
    background-color: aqua;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem;
    align-content: center;
    margin-top: 1.5rem;
    
}

section .container .text{
    align-items: center;
}